# https://docs.microsoft.com/azure/devops/pipelines/languages/python

jobs:

- job: 'Lint'

  pool:
    vmImage: 'Ubuntu 16.04'

  steps:
  - script: python -m pip install flake8 && flake8 .
    displayName: 'Validating PEP-8'

- job: 'Test Linux'

  pool:
    vmImage: 'Ubuntu 16.04'

  strategy:
    matrix:
      Python27:
        python.version: '2.7'
      Python35:
        python.version: '3.5'
      Python36:
        python.version: '3.6'
      Python37:
        python.version: '3.7'
    maxParallel: 4

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - script: python -m pip install --upgrade pip && pip install -e .
    displayName: 'Install dependencies'

  - script: python -m unittest discover tests
    displayName: 'Run unittest tests'
